<header>
  <nav class="navbar navbar-expand-md navbar-dark nav-light">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-right: auto !important;">
        <a class="btn-pop-light" href="/urls">My URLs</a>
        <a class="btn-pop-bold" href="/urls/new">Create New URL</a>
       </div>

       <% if(username){ %>

        <div class="'navbar-nav">
          <form method="POST" action="/logout" for="username" class="d-flex nav-item" role="search">
            <span class="nav-link">Welcome back, <%= username.email %>!</span>
            <button class="btn-exit" type="submit">Logout</button>
          </form>
          </div>

       <% } else{ %>  
        
        <div class="navbar-nav">
          <h1>If you are seeing this that means the server has restarted and all users/ urls have been erased from the <em>DB</em>, please delete cookies and go to the register page to create a new user <br/> <bold>NOTE: This MSG was intentionally left in as a reminder</bold></h1>
         </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>



