<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-right: auto !important;">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
       </div>

       <% if(username){ %>

        <div class="'navbar-nav">
          <form method="POST" action="/logout" for="username" class="d-flex nav-item" role="search">
            <span class="nav-link">Welcome back, <%= username.email %>!</span>
            <button class="btn btn-light" type="submit">Logout</button>
          </form>
          </div>

       <% } else{ %>  
        
        <div class="navbar-nav">
          <a href="/login" class="btn btn-outline-primary">Login</a>
          <a href="/register" class="btn btn-outline-secondary" >Create New User</a>
         </div>

        <% } %>

<!-- Old Header
        <% if(username){ %>

          <div class="'navbar-nav">
            <form method="POST" action="/logout" for="username" class="d-flex nav-item" role="search">
              <span class="nav-link">Welcome back, <%= username.email %>!</span>
              <button class="btn btn-light" type="submit">Logout</button>
            </form>
            </div>
        
          <% } else{ %>  
        
            <div class="'navbar-nav">
              <form method="POST" action="/login" for="username" class="d-flex nav-item" role="search">
                <input 
                class="form-control me-2" 
                type="text" 
                name="username"
                placeholder="Username" 
                aria-label="Search"
                />
                <button class="btn btn-primary" type="submit">Login</button>
              </form>
            </div>    
        
        <% } %>

-->



      
      </div>
    </div>
  </nav>
</header>



